@charset "utf-8";

.arsenal-regular {
    font-family: "Arsenal", serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-small-heading {
	font-family: "Arsenal", serif;
	font-weight: 300;
	font-style: bold;
	font-size: 0.75em;
}

.arsenal-small {
	font-family: "Arsenal", serif;
	font-weight: 150;
	font-style: normal;
	font-size: 0.65em;
	color: rgba(255, 255, 255, 50%);
}

.arsenal-bold {
    font-family: "Arsenal", serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-regular-italic {
    font-family: "Arsenal", serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-bold-italic {
    font-family: "Arsenal", serif;
    font-weight: 700;
    font-style: italic;
}

.container {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.img-left {
	order: 1;
	width: 30%;
	height: 80%;
}

.img-right {
	order: 3;
	width: 30%;
	height: 80%;
}

.content {
	order: 2;
	width: 40%;
	margin: auto;
}

p {
	font-family: "Arsenal", serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 10px;
	padding-right: 10px;
}

.info {
	width: 70%;
	margin: auto;
}

.card {
		border-color: pink;
		border-width: 3px;
		border-style: solid;
		margin-bottom: 15px; 
}

.card-title {
	text-align: center;
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #1b1b32;
	color: #f5f6f7;
}

#intro-header {
	text-align: center;
	color: pink;
}

.licensing {
	width: 50%;
	margin: auto;
	text-align: center;
}

a {
	color: yellow;
}

a:hover {
	color: pink;
}

.gallery-right {
	padding-top: 24rem;
	display: flex;
	justify-content: center;
}

.gallery-left {
	padding-top: 8rem;
	display: flex;
	justify-content: center;
}

li {
	padding-top: 1rem;
}

#headuh {
	padding-bottom: 1rem;
}

hr {
	width: 80%;
	color: rgba(255,255,255,75%);
}
